CONFIG_ESPTOOLPY_FLASHSIZE_16MB=y
CONFIG_ESPTOOLPY_FLASHSIZE="16MB"

# OLS transport: USB Serial JTAG (COM7) for PulseView, UART0 (COM6) for console
CONFIG_SUMP_TRANSPORT_USB=y
CONFIG_SUMP_UART_BAUD=15200
CONFIG_ESP_CONSOLE_UART_DEFAULT=y
CONFIG_ESP_CONSOLE_UART_NUM=0
CONFIG_ESP_CONSOLE_SECONDARY_NONE=y

# Enable IDF logs on UART0 (COM6) for debugging
CONFIG_BOOTLOADER_LOG_LEVEL_INFO=y
CONFIG_LOG_DEFAULT_LEVEL_INFO=y

# Native USB interface (USB Serial JTAG) driver buffers
CONFIG_USB_INTERFACE_USJ_TX_BUFFER_SIZE=4096
CONFIG_USB_INTERFACE_USJ_RX_BUFFER_SIZE=256
